    {# templates/flavor/edit.html.twig #}

    {% extends 'base.html.twig' %}

    {% block title %}Edit Flavor{% endblock %}

    {% block body %}
    <h1>Edit Flavor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('flavor_show', {'id': flavor.id}) }}">Cancel</a>
    {% endblock %}
