/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Réinitialisation et styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Section héroïque avec vidéo */
#hero {
    height: 80vh;
    position: relative;
    overflow: hidden;
}

#myVideo {
    width: 100%;
    height: 100%;
    max-width: none;
    position: absolute;
}

.content-hero {
    position: absolute;
    
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Bouton personnalisé */
.btn-primary {
    text-decoration: none;
    color: #fff;
    background: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #0056b3;
}

/* Section des produits vedettes avec affichage en grille */
.product-section {
    padding: 20px;
    display: flex; /* Utilise flexbox pour aligner les enfants */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    justify-content: space-evenly; /* Centre les cartes horizontalement */
    gap: 20px; /* Espacement entre les cartes */
}

/* Style des cartes de produit */
.card {
    background: #fff;
    width: calc(50% - 20px); /* Réglage pour deux cartes par ligne, ajustez selon le besoin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%; /* Assure que l'image prend toute la largeur de la carte */
    height: auto; /* Maintient le ratio de l'image */
}


.card-content {
    padding: 15px;
}

.card-title {
    color: #007bff;
    margin-top: 0;
}

.card-text {
    color: #555;
    font-size: 0.9em;
}

/* Pied de page */
.footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Liens sociaux */
.social-links a {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    line-height: 40px;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #151515;
    background-color: #FFF;
}

/* Ajustements responsifs pour les petites tailles d'écran */
@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px); /* Deux colonnes pour les écrans moyens */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Une colonne pour les petits écrans */
    }
}
