        {# templates/product/new.html.twig #}

    {% extends 'base.html.twig' %}

    {% block title %}Create New Product{% endblock %}

    {% block body %}
    <h1>Create New Product</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('product_index') }}">Back to list</a>
    {% endblock %}
